docker/nodered/flows.json
[
    {
        "id": "flow_weight",
        "type": "tab",
        "label": "Weight Scale",
        "disabled": false,
        "info": "ESP32 bee-box weight via MQTT"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "esp32-mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-dashboard",
        "usetls": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ui_base_1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "themeState": {
                "base-color": { "default": "#0094CE", "value": "#0094CE", "edited": false }
            },
            "angularTheme": {
                "primary": "indigo", "accents": "blue",
                "warn": "red", "background": "grey", "palette": "light"
            }
        },
        "site": {
            "name": "ESP32 Weight Scale",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": { "sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0 }
        }
    },
    {
        "id": "tab_weight",
        "type": "ui_tab",
        "name": "Weight Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "grp_sensors",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "tab_weight",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_total",
        "type": "ui_group",
        "name": "Total Weight",
        "tab": "tab_weight",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_chart",
        "type": "ui_group",
        "name": "History",
        "tab": "tab_weight",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "mqtt_s1",
        "type": "mqtt in",
        "z": "flow_weight",
        "name": "sensor1",
        "topic": "weight-scale/sensor1",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [["fn_s1"]]
    },
    {
        "id": "fn_s1",
        "type": "function",
        "z": "flow_weight",
        "name": "→ number",
        "func": "msg.payload = parseFloat(msg.payload); return msg;",
        "outputs": 1,
        "x": 280,
        "y": 80,
        "wires": [["gauge_s1"]]
    },
    {
        "id": "gauge_s1",
        "type": "ui_gauge",
        "z": "flow_weight",
        "name": "Sensor 1",
        "group": "grp_sensors",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Sensor 1 (Left)",
        "label": "kg",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "mqtt_s2",
        "type": "mqtt in",
        "z": "flow_weight",
        "name": "sensor2",
        "topic": "weight-scale/sensor2",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [["fn_s2"]]
    },
    {
        "id": "fn_s2",
        "type": "function",
        "z": "flow_weight",
        "name": "→ number",
        "func": "msg.payload = parseFloat(msg.payload); return msg;",
        "outputs": 1,
        "x": 280,
        "y": 180,
        "wires": [["gauge_s2"]]
    },
    {
        "id": "gauge_s2",
        "type": "ui_gauge",
        "z": "flow_weight",
        "name": "Sensor 2",
        "group": "grp_sensors",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Sensor 2 (Right)",
        "label": "kg",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "mqtt_total",
        "type": "mqtt in",
        "z": "flow_weight",
        "name": "total",
        "topic": "weight-scale/total",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [["fn_total"]]
    },
    {
        "id": "fn_total",
        "type": "function",
        "z": "flow_weight",
        "name": "→ number",
        "func": "msg.payload = parseFloat(msg.payload); return msg;",
        "outputs": 1,
        "x": 280,
        "y": 300,
        "wires": [["gauge_total", "chart_total", "text_total"]]
    },
    {
        "id": "gauge_total",
        "type": "ui_gauge",
        "z": "flow_weight",
        "name": "Total",
        "group": "grp_total",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Total (Bee-box)",
        "label": "kg",
        "format": "{{value | number:3}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "text_total",
        "type": "ui_text",
        "z": "flow_weight",
        "name": "Total Text",
        "group": "grp_total",
        "order": 2,
        "width": "3",
        "height": "1",
        "title": "Current reading",
        "format": "{{msg.payload}} kg",
        "layout": "row-spread",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "chart_total",
        "type": "ui_chart",
        "z": "flow_weight",
        "name": "Total History",
        "group": "grp_chart",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Total Weight (kg)",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "x": 460,
        "y": 380,
        "wires": [[]]
    }
]
